.u-relative {
  position: relative !important;
}
.u-absolute {
  position: absolute !important;
}
.u-fixed {
  position: fixed !important;
}

.u-top10 {
  top: 10px !important;
}

.u-bottom10 {
  bottom: 10px !important;
}

.u-right10 {
  right: 10px !important;
}

.u-left10 {
  left: 10px !important;
}
