.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: var(--color-white);
  color: var(--color-black);
  padding: 15px 15px;
  box-shadow: 0 5px 15px -6px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px solid var(--color-gray-light-2x);
}

.card-header {
  font-size: 16px;
}
.card-header__text {
  font-size: 16px;
  margin: 0;
}

.card-body {
  display: flex;
  flex-direction: column;
  border-top: 1px solid var(--color-gray-light-2x);
  padding: 1px;
  padding-top: 10px;
}
