.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: var(--color-white);
  color: var(--color-black);
  padding: 15px 15px;
}

.card-header {
  font-size: 16px;
}
.card-header__text {
  font-size: 16px;
  margin: 0;
}

.card-body {
  border-top: 1px solid var(--color-gray-lighter);
  padding: 1px;
  padding-top: 10px;
}
