.button-pill {
  border-radius: 999px;
  padding: 10px 3%;

  background: var(--color-primary);
  color: var(--color-white);
}

.button-pill--primary {
  background: var(--color-primary);
  color: var(--color-white);
}

.button-pill--secondary {
  background: var(--color-gray);
  color: var(--color-white);
}

.button-pill--bold {
  background: var(--color-black);
  color: var(--color-white);
}

.button-pill--white {
  background: var(--color-white);
  color: var(--color-black);
}
