.composer {
  display: flex;
  gap: 10px;
  background: var(--color-white);
  border-radius: 4px;
  padding: 10px 12px;
  box-shadow: 0 5px 30px -6px rgba(0, 0, 0, 0.15);
}
.composer__column-1 {
  flex-grow: 0;
}
.composer__avatar {
  height: 32px;
  width: 33px;
  border-radius: 50%;
  border: 2px solid var(--color-white);
  background-color: var(--color-gray-light-3x);
  background-image: url("../../../img/brand/logo_icon.png");
  background-position: center;
  background-size: cover;
}
.composer__column-2 {
  flex-basis: 100%;
  flex-grow: 1;
}
.composer__textarea {
  resize: none;
  width: 100%;
  padding: 10px 12px;
  background: var(--color-gray-light-3x);
}
.composer__selectedImage {
  border: 2px solid var(--color-gray-light-2x);
  max-height: 300px;
}
.composer__footer {
  padding: 10px;
}
